<div class="view view-hidden" id="view-restaurant-search">
	<header class="header-navbar">
		<div class="header-btn header-btn-left">
			<i class="icon icon-back"></i>
		</div>
		<form class="search-form">
		    <input type="search" name="search" data-placeholder-i18n="Search Hint" placeholder="搜索餐厅" />
		</form>
		<div class="header-btn header-btn-right">
			<i class="icon icon-locate"></i>
			<i class="icon icon-bars hidden"></i>
		</div>
	</header>
	<section class="wrapper flipper">
		<div class="filter-bar">
			<div class="filter collapsible circle">
				<p><span data-i18n="Circles">全部商圈</span> <i class="icon icon-down"></i></p>
				<div class="collapsible-inner"><ul></ul></div>
			</div>
			<div class="spliter"></div>
			<div class="filter collapsible cuisine">
				<p><span data-i18n="Cuisines">全部菜系</span> <i class="icon icon-down"></i></p>
				<div class="collapsible-inner"><ul></ul></div>
			</div>
			<div class="spliter"></div>
			<div class="filter collapsible recommend">
                <p><span data-i18n="Recommends">推荐餐厅</span> <i class="icon icon-down"></i></p>
                <div class="collapsible-inner"><ul></ul></div>
            </div>
			<!--<div class="filter collapsible"><p><span>默认排序</span> <i class="icon icon-down"></i></p><ul class="collapsible-inner sort"></ul></div>-->
		</div>
		<div class="scroll front">
			<div class="scroll-inner">
				<section class="restaurant-list"></section>
				<div class="button-group page-nav hidden">
					<button class="page-prev hidden" data-i18n="Previous Page">上一页</button>
                    <button class="page-next hidden" data-i18n="Next Page">下一页</button>
				</div>
			</div>
		</div>
		<div class="map_canvas back">
		    <div class="locate-btn"><i class="icon icon-locate"></i></div>
			<div id="map_canvas"></div>
			<div class="map-marker-info"></div>
		</div>
	</section>
</div>
