<div class="view view-hidden" id="view-order-list">
	<header class="header-navbar">
		<div class="header-btn header-btn-left back-btn">
			<i class="icon icon-back"></i>
		</div>
		<h1 data-i18n="Reservations">订单</h1>
		<div class="header-btn header-btn-right">
			<i class="icon icon-blank"></i>
		</div>
	</header>
	<section class="wrapper">
		<div class="filter-bar">
			<div class="filter filter-pending">
				<p><span data-i18n="Pending Orders">未完成订单</span> <i class="icon icon-up"></i></p>
			</div>
			<div class="filter filter-fulfilled">
				<p><span data-i18n="Fulfilled Orders">已完成订单</span> <i class="icon icon-down"></i></p>
			</div>
		</div>
		<div class="scroll">
			<div class="scroll-inner">
				<section class="order-list"></section>
				<div class="button-group page-nav hidden">
					<button class="page-prev hidden" data-i18n="Previous Page">上一页</button>
                    <button class="page-next hidden" data-i18n="Next Page">下一页</button>
				</div>
			</div>
		</div>
	</section>
</div>
