<div class="view view-hidden" id="view-home">
	<header class="header-navbar">
		<div class="header-btn header-btn-left">
			<i class="icon icon-member"></i>
		</div>
		<h1 class="header-title">
			<span data-i18n="Weekly Choice">本周餐厅</span>
			<i class="icon icon-down-small"></i>
		</h1>
		<div class="header-btn header-btn-right">
			<i class="icon icon-map-marker"></i>
		</div>
	</header>
	<section class="wrapper">
		<div class="scroll">
			<div class="scroll-inner">
			    <div class="search-form">
			        <i class="icon icon-search"></i>
			        <form><input type="search" name="search" data-placeholder-i18n="Search Hint" placeholder="搜索餐厅" /></form>
			    </div>
				<div class="master-hero"></div>
				<div class="recommend-flow"></div>
				<div class="show-more hidden" data-i18n="Show More Restaurants">更多餐厅</div>
			</div>
		</div>
		<div class="recommends-filter closed">
			<div class="recommends-filter-wrapper"></div>
		</div>
	</section>
</div>
