<div class="view view-hidden" id="view-member-contacts">
	<header class="header-navbar">
		<div class="header-btn header-btn-left">
			<i class="icon icon-back"></i>
		</div>
		<form class="search-form">
		    <input type="search" name="search" data-placeholder-i18n="Search Contacts Hint" placeholder="搜索联系人" />
		</form>
		<div class="header-btn header-btn-right">
			<i class="icon icon-confirm"></i>
		</div>
	</header>
	<section class="wrapper">
		<div class="filter-bar">
			<div class="filter filter-online">
				<p><span data-i18n="Online Contacts">美位联系人</span> <i class="icon icon-up"></i></p>
			</div>
			<div class="filter filter-local">
				<p><span data-i18n="Local Contacts">手机通讯录</span> <i class="icon icon-down"></i></p>
			</div>
		</div>
		<div class="scroll">
			<div class="scroll-inner"></div>
		</div>
		<ul class="alphabet hidden">
            <li>A</li><li>B</li><li>C</li><li>D</li><li>E</li><li>F</li><li>G</li>
            <li>H</li><li>I</li><li>J</li><li>K</li><li>L</li><li>M</li><li>N</li>
            <li>O</li><li>P</li><li>Q</li><li>R</li><li>S</li><li>T</li><li>U</li>
            <li>V</li><li>W</li><li>X</li><li>Y</li><li>Z</li><li>#</li>
        </ul>
	</section>
</div>
