<div class="view view-hidden" id="view-member-anniversary-detail">
	<header class="header-navbar">
		<div class="header-btn header-btn-left">
			<i class="icon icon-back"></i>
		</div>
		<h1 data-i18n="Anniversary">纪念日</h1>
		<div class="header-btn header-btn-right">
			<i class="icon icon-blank"></i>
		</div>
	</header>
	<section class="wrapper">
		<div class="scroll">
			<div class="scroll-inner">
				<div class="anniversary-detail-form">
					<form>
						<p class="info-text"></p>
						<fieldset>
							<div class="inline-group">
								<i class="icon icon-gift"></i>
								<label data-i18n="Title">标题</label>
								<input type="text" name="description" />
							</div>
							<div class="inline-group">
								<i class="icon icon-calendar"></i>
								<label data-i18n="Date">日期</label>
								<input type="date" name="date" />
							</div>
						</fieldset>
					</form>
					<div class="button-group">
						<button class="delete-button" data-i18n="Delete">删除</button>
						<button class="save-button btn-inverse" data-i18n="Save">保存</button>
					</div>
					<div class="inspritions">
					    <span class="span2">实现梦想</span>
					    <span class="span1">Birthday</span>
					    <span class="span3">难忘的旅行</span>
					    <span class="span1">爸爸生日</span>
					    <span class="span2">新家</span>
					    <span class="span3">勇敢的表白</span>
					    <span class="span2">公司成立</span>
					    <span class="span1">第一次约会</span>
					    <span class="span3">Journey</span>
					    <span class="span2">闺蜜生日</span>
                        <span class="span1">Dream</span>
                        <span class="span3">恋爱纪念日</span>
                        <span class="span1">毕业</span>
                        <span class="span3">Wedding</span>
                        <span class="span2">男友生日</span>
					    <span class="span3">宝宝出生</span>
					    <span class="span1">Graduation</span>
					    <span class="span2">女友生日</span>
					    <span class="span3">First Love</span>
                        <span class="span1">妈妈生日</span>
                        <span class="span3">结婚</span>
                        <span class="span2">好朋友生日</span>
                        <span class="span3">随便什么</span>
                        <span class="span1">First Job</span>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
