<div class="view view-hidden" id="view-request-driver">
	<header class="header-navbar">
		<div class="header-btn header-btn-left">
			<i class="icon icon-back"></i>
		</div>
		<h1 data-i18n="Designated Driving">代驾服务</h1>
		<div class="header-btn header-btn-right">
			<i class="icon icon-blank"></i>
		</div>
	</header>
	<section class="wrapper">
		<div class="scroll">
			<div class="scroll-inner">
			    <div class="map">
                    <div id="driver_map_canvas"></div>
                </div>
				<div class="order-form">
				    <form>
                        <p class="info-text"></p>
                        <fieldset>
                            <div class="inline-group">
                                <i class="icon icon-map-marker-small"></i>
                                <input type="text" name="address" />
                            </div>
                            <!--<div class="inline-group">
                                <i class="icon icon-clock"></i>
                                <input type="time" name="order_time" value="21:00"/>
                            </div>-->
                            <div class="inline-group">
                                <i class="icon icon-member-small"></i>
                                <input type="text" name="name" data-placeholder-i18n="Contact" placeholder="联系人"/>
                                <div class="control-group switch switch-gender">
                                    <div class="switch-inner">
                                        <input type="hidden" name="gender" value="0"/>
                                        <label class="label-text"></label>
                                        <label class="label-off" data-i18n="Mr.">先生</label>
                                        <label class="label-on" data-i18n="Ms.">女士</label>
                                        <div class="switch-button"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="inline-group">
                                <i class="icon icon-phone"></i>
                                <input type="tel" name="mobile" data-placeholder-i18n="Mobile" placeholder="手机号" />
                            </div>
                            <div class="inline-group">
                                <i class="icon icon-pencil"></i>
                                <input type="text" name="comment" data-placeholder-i18n="Remarks" placeholder="备注" />
                            </div>
                        </fieldset>
                    </form>
                    <button class="order-submit-button btn-inverse btn-block-level" data-i18n="Submit Order"></button>
				</div>
			</div>
		</div>
	</section>
</div>
