<div class="view view-hidden" id="view-order-detail">
	<header class="header-navbar">
		<div class="header-btn header-btn-left">
			<i class="icon icon-back"></i>
		</div>
		<h1 data-i18n="Detail">详情</h1>
		<div class="header-btn header-btn-right">
			<i class="icon icon-edit"></i>
		</div>
	</header>
	<section class="wrapper">
		<div class="scroll">
			<div class="scroll-inner"></div>
		</div>
	</section>
</div>
