<div class="view view-hidden" id="view-member-login">
	<header class="header-navbar">
		<div class="header-btn header-btn-left">
			<i class="icon icon-back"></i>
		</div>
		<h1 data-i18n="Login" class="header-title">登录</h1>
		<div class="header-btn header-btn-right">
			<i class="icon icon-blank"></i>
		</div>
	</header>
	<section class="wrapper">
		<div class="scroll">
			<div class="scroll-inner">
				<div class="logo"><img src="assets/img/logo@2x.png" alt=""/></div>
				<section class="login-box">
					<form>
						<p class="info-text"></p>
						<fieldset>
							<input autocapitalize="off" type="text" name="username" data-placeholder-i18n="Mobile/Email" placeholder="手机/邮箱" />
							<input autocapitalize="off" type="password" name="password" data-placeholder-i18n="Password" placeholder="密码" />
						</fieldset>
					</form>
				    <button class="login-button btn-inverse btn-block-level" data-i18n="Login">登录</button>
				</section>
				<section class="register-box hidden">
                    <form>
                        <p class="info-text"></p>
                        <fieldset>
                            <input autocapitalize="off" type="text" name="username" data-placeholder-i18n="Mobile/Email" placeholder="手机/邮箱" />
                            <input autocapitalize="off" type="password" name="password" data-placeholder-i18n="Password" placeholder="密码" />
                            <input autocapitalize="off" type="password" name="password-confirm" data-placeholder-i18n="Confirm Password" placeholder="确认密码" />
                        </fieldset>
                    </form>
                    <button class="register-button btn-inverse btn-block-level" data-i18n="Register">注册</button>
                </section>
                <section class="login-register-switch">
                    <button class="register-switch btn-block-level">
                        <span  data-i18n="Or Create Your Account">或者新建一个帐号？</span>
                        <!--<span  data-i18n="Register">注册</span>-->
                    </button>
                    <button class="login-switch btn-block-level hidden">
                        <span data-i18n="Already Have an Account?">已经注册？</span>
                        <span data-i18n="Login">登录</span>
                    </button>
                </section>
				<!--<section class="social-box hidden">
					<header data-i18n="Social Login">公共帐号登录</header>
					<section class="social-icons">
						<img src="assets/img/social-qq@2x.png" alt="">
						<img src="assets/img/social-weibo@2x.png" alt="">
						<img src="assets/img/social-renren@2x.png" alt="">
					</section>
				</section>-->
			</div>
		</div>
	</section>
</div>
