<div class="view view-hidden" id="view-member-anniversaries">
	<header class="header-navbar">
		<div class="header-btn header-btn-left">
			<i class="icon icon-back"></i>
		</div>
		<h1 data-i18n="Anniversary">纪念日</h1>
		<div class="header-btn header-btn-right">
			<p class="flexible text-left" data-i18n="Add">添加</p>
		</div>
	</header>
	<section class="wrapper">
		<div class="scroll">
			<div class="scroll-inner"></div>
		</div>
	</section>
</div>
