<div class="view view-hidden" id="view-member-favorites">
	<header class="header-navbar">
		<div class="header-btn header-btn-left back-btn">
			<i class="icon icon-back"></i>
		</div>
		<h1 data-i18n="Favorites">收藏</h1>
		<div class="header-btn header-btn-right">
			<i class="icon icon-blank"></i>
		</div>
	</header>
	<section class="wrapper">
		<div class="scroll">
			<div class="scroll-inner">
				<section class="restaurant-list"></section>
				<div class="button-group page-nav hidden">
					<button class="page-prev hidden" data-i18n="Previous Page">上一页</button>
                    <button class="page-next hidden" data-i18n="Next Page">下一页</button>
				</div>
			</div>
		</div>
	</section>
</div>
