<div class="view view-hidden" id="view-member-credits">
	<header class="header-navbar">
		<div class="header-btn header-btn-left">
			<i class="icon icon-back"></i>
		</div>
		<h1><span data-i18n="Credits">积分</span><span class="header-balance"></span></h1>
		<div class="header-btn header-btn-right">
			<i class="icon icon-blank"></i>
		</div>
	</header>
	<section class="wrapper">
		<div class="scroll">
			<div class="scroll-inner"></div>
		</div>
		<div class="redeem-btn">
		    <span class="icon icon-gift-light"></span>
		    <span data-i18n="Gifts">兑换礼品</span>
		</div>
	</section>
</div>
