<div class="view view-hidden" id="view-restaurant-detail">
	<header class="header-navbar">
		<div class="header-btn header-btn-left back-btn">
			<i class="icon icon-back"></i>
		</div>
		<h1 class="header-title"></h1>
		<div class="header-btn header-btn-right">
			<i class="icon icon-favorite"></i>
		</div>
	</header>
	<section class="wrapper">
		<div class="scroll">
			<div class="scroll-inner">
			   	<section class="restaurant-pictures img">
			   	    <img class="img-stack-icon" src="assets/img/img-stack-icon.png" alt="">
			   	</section>
			   	<section class="restaurant-profile">
			   		<div class="rating"><i></i><i></i><i></i><i></i><i></i></div>
			   		<div class="price"><span data-i18n="Price Range">人均</span>: <span class="price-tags">￥￥￥</span></div>
					<div class="order-button" data-i18n="Reserve">订餐</div>
					<article><p></p></article>
					<section class="information">
						<div class="address"><i class="icon icon-map-marker-small"></i><p></p></div>
						<div class="workinghour"><i class="icon icon-clock"></i><p></p></div>
						<div class="parking"><i class="icon icon-car"></i><p></p></div>
						<div class="discount"><i class="icon icon-tag"></i><p></p></div>
					</section>
			   	</section>
			   	<section class="restaurant-reviews hidden">
			   	    <header><h1><span class="icon icon-chat"></span><span data-i18n="Reviews">评论</span></h1></header>
			   	    <div></div>
			   	</section>
			   	<section class="callus-button">
			   		<a href="tel:02160515617" class="btn">
			   			<p><i class="icon icon-phone"> </i><span data-i18n="Call Us">客服电话</span></p>
			   		</a>
			   	</section>
			</div>
		</div>
	</section>
</div>
