<div class="view view-hidden" id="view-product-redeem">
	<header class="header-navbar">
		<div class="header-btn header-btn-left">
			<i class="icon icon-back"></i>
		</div>
		<h1 data-i18n="Gifts">礼品</h1>
		<div class="header-btn header-btn-right">
			<i class="icon icon-confirm"></i>
		</div>
	</header>
	<section class="wrapper">
		<div class="scroll">
			<div class="scroll-inner"></div>
		</div>
	</section>
</div>
