<div class="view view-hidden" id="view-member-profile">
	<header class="header-navbar">
		<div class="header-btn header-btn-left back-btn">
			<i class="icon icon-back"></i>
		</div>
		<h1 data-i18n="Profile">资料</h1>
		<div class="header-btn header-btn-right">
			<i class="icon icon-blank"></i>
		</div>
	</header>
	<section class="wrapper">
		<div class="scroll">
			<div class="scroll-inner">
				<div class="member-profile-form">
					<form>
						<p class="info-text"></p>
						<fieldset>
							<div class="inline-group">
								<input type="text" name="nickname" data-placeholder-i18n="Name" placeholder="姓名"/>
								<div class="control-group switch switch-gender">
									<div class="switch-inner">
										<input type="hidden" name="sexe" value="0"/>
										<label class="label-text"></label>
										<label class="label-off" data-i18n="Mr.">先生</label>
										<label class="label-on" data-i18n="Ms.">女士</label>
										<div class="switch-button"></div>
									</div>
								</div>
							</div>
							<div class="inline-group">
								<i class="icon icon-envelope"></i>
								<label data-i18n="Email">邮箱</label>
								<input type="email" name="email" data-placeholder-i18n="Email" placeholder="邮箱"/>
							</div>
							<div class="inline-group">
								<i class="icon icon-phone"></i>
								<label data-i18n="Mobile">手机</label>
								<input type="tel" name="mobile" data-placeholder-i18n="Mobile" placeholder="手机"/>
							</div>
							<div class="inline-group">
								<i class="icon icon-calendar"></i>
								<label data-i18n="Birthday">生日</label>
								<input type="date" name="birthday" />
							</div>
						</fieldset>
					</form>
					<div class="button-group">
						<button class="btn-inverse" data-i18n="Save">保存</button>
					</div>
				</div>
				<div class="member-password-form">
					<form>
						<p class="info-text"></p>
						<fieldset>
							<div class="inline-group">
								<input type="password" name="password" data-placeholder-i18n="Password" placeholder="密码"/>
							</div>
							<div class="inline-group">
								<input type="password" name="password-confirm" data-placeholder-i18n="Confirm Password" placeholder="确认密码"/>
							</div>
						</fieldset>
					</form>
					<div class="button-group">
						<button class="btn" data-i18n="Modify Password">修改密码</button>
					</div>
				</div>
		    </div>
		</div>
	</section>
</div>
