<div class="view view-hidden" id="view-settings">
    <header class="header-navbar">
        <div class="header-btn header-btn-left">
            <i class="icon icon-back"></i>
        </div>
        <h1 data-i18n="Settings">设置</h1>
        <div class="header-btn header-btn-right">
            <i class="icon icon-blank"></i>
        </div>
    </header>
    <section class="wrapper">
        <div class="scroll">
            <div class="scroll-inner">
                <section class="settings-version">
                    <div class="simple-list-item">
                        <div class="span" data-i18n="Version"></div>
                        <div class="span version-no"></div>
                    </div>
                </section>
                <section class="settings-language simple-list">
                    <div class="simple-list-item">
                        <div class="span" data-i18n="Language">语言</div>
                        <div class="span">
                            <span class="lang-opt zh selected">中文</span>
                            <span class="lang-opt en">English</span>
                        </div>
                    </div>
                </section>
                <section class="settings-request-driver">
                    <div class="simple-list-item">
                        <div class="span" data-i18n='Designated Driving'>代驾服务</div>
                        <div class="span">安师傅</div>
                    </div>
                </section>
                <section class="settings-share">
                    <div class="button-group">
                        <button class="btn btn-share-weixin" data-i18n="Share to Moments">告诉微信好友</button>
                        <button class="btn btn-inverse btn-share-weibo" data-i18n="Share to Weibo">分享到微博</button>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>
