<div class="view view-hidden" id="view-member-center">
	<header class="header-navbar">
		<div class="header-btn header-btn-left">
			<i class="icon icon-back"></i>
		</div>
		<h1 data-i18n="Member Center">用户中心</h1>
		<div class="header-btn header-btn-right">
			<i class="icon icon-setting"></i>
		</div>
	</header>
	<section class="wrapper">
		<div class="scroll">
			<div class="scroll-inner">
				<div class="favorite-resto-carousel img"></div>
				<div class="member-profile-box">
					<div>
						<div class="avatar img-circle">
							<img src="assets/img/default-avatar@2x.png" />
						</div>
					</div>
					<div>
						<h1>
							<i class="icon icon-member-small-light"> </i>
							<span data-field="nickname"></span>
							<i class="edit-profile icon icon-edit-light"> </i>
						</h1>
						<p>
							<i class="icon icon-phone"> </i>
							<span data-field="mobile"></span>
						</p>
						<p>
							<i class="icon icon-envelope"> </i>
							<span data-field="email"></span>
						</p>
					</div>
				</div>
				<ul class="member-center-nav">
					<li class="hidden"><span data-i18n="My">我的</span><span data-i18n="Profile">资料</span></li>
					<li><span data-i18n="My">我的</span><span data-i18n="Reservations">订餐</span></li>
					<li><span data-i18n="My">我的</span><span data-i18n="Credits">积分</span></li>
					<li><span data-i18n="My">我的</span><span data-i18n="Favorites">收藏</span></li>
					<li><span data-i18n="My">我的</span><span data-i18n="Concierge">私人管家</span></li>
					<li><span data-i18n="My">我的</span><span data-i18n="Anniversaries">纪念日</span></li>
				</ul>
				<div class="logout-button">
					<button data-i18n="Logout">退出登录</button>
				</div>
			</div>
		</div>
	</section>
</div>
