<div class="view view-hidden" id="view-product-purchase">
	<header class="header-navbar">
		<div class="header-btn header-btn-left">
			<i class="icon icon-back"></i>
		</div>
		<h1 data-i18n="Concierge Services">私人管家服务</h1>
		<div class="header-btn header-btn-right">
			<i class="icon icon-confirm"></i>
		</div>
	</header>
	<section class="wrapper">
		<div class="scroll">
			<div class="scroll-inner"></div>
		</div>
		<section class="callus-button">
            <a href="tel:02160515617" class="btn btn-inverse">
                <p><i class="icon icon-phone-light"> </i><span data-i18n="Call Us">客服电话</span></p>
            </a>
        </section>
	</section>
</div>
