#view-home {
	
	&.first-visit::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 9999;
        background: transparent url('../img/getstarted/view-home.png') no-repeat top right;
        @include background-size(500px, 1000px)
    }
	
	.icon-down-small {
        position: absolute;
        bottom: -7px;
        left: 50%;
        margin-left: -13px;
    }
	
	.search-form {
	    width: 100%;
	    height: 52px;
	    padding: 13px 5px 5px;
	    position: relative;
	    > form {
            @include square(100%);
        }
        > form > input[type=search] {
            @include border-radius(10px);
            border: 0;
            background-color: lighten($brownLighter, 3%);
            width: 100%;
            height: 34px;
            padding: 7px 15px 7px 33px;
            line-height: 20px;
            text-align: left;
            @include placeholder($brown, 14px, 20px);
        }
    }
    
    .icon-search {
        position: absolute;
        top: 18px;
        left: 10px;
    }
	
	.recommend-flow {
		@include flex-box($orient: vertical);
		width: 100%;
	}
	
	$itemHeight: 250px;
	
	.master-hero {
		.viewport {
			@include size($itemHeight - 80px, 100%);
			margin: 10px auto 0;
			padding: 5px 0;
			overflow: hidden;
		}
		background-image: url('../img/hero.jpg');
		@include carousel($carouselWidth: $itemHeight - 80px);
		@include backface-visibility(hidden);
	}
	
	.master-hero, .recommend-list-item {
		@include flex-box($orient: vertical, $pack: start);
		width: 100%;
		height: $itemHeight;
		overflow: hidden;
		border-top: 1px solid $brown;
		h1 {
			@include text-overflow();
			font-family: $serifFontFamily;
		}
		> article {
			h1 { font-size: 20px; line-height: 30px; margin-bottom: 5px; }
			font-size: $fontSizeMini;
			color: $white;
			@include square(100%);
			padding: 17px;
			margin-top: -45px;
			opacity: 0;
			visibility: hidden;
			@include transition(all .35s ease-in-out);
			@include gradient-vertical(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
		}
		.order-button {
            margin: 20px -10px 0 auto;
            @include size(70px, 70px);
            background: url($bookButtonPath) no-repeat center;
            @include background-size(35px 35px);
        }
		> header {
			color: $white;
			text-align: center;
			height: 45px;
			max-width: 200px;
			min-width: 100px;
			border: 13px solid transparent;
			-webkit-border-image: url($tagImagePath) 13 stretch;
			opacity: 1;
			visibility: visible;
			@include transition(all .35s ease-in-out);
		}
	}
	
	.recommend-list-item.hero {
		> article { opacity: 1; visibility: visible; }
		> header { opacity: 0; visibility: hidden; }
	}
	
	.show-more {
	    padding: 15px 30px;
	    text-align: center;
	    color: $brown;
	}
	
    .recommends-filter {
	    position: absolute;
	    background-color: $white;
	    top: 0; right: 0; left: 0;
	    height: 90%;
	    @include transition(all .35s ease-in-out);
	    //overflow: hidden;
	    @include scrollable();
	    &.closed {
            visibility: hidden;
            opacity: 0;
            @include translate3d(0, -100%, 0);
        }
	}
    .recommends-filter-wrapper {
        width: 100%;
        padding-top: 10px;
    }
    .filter-item {
        padding: 15px 20px;
        width: 100%;
        height: 50px;
        border-bottom: 1px solid $brownLighter;
        &:first-child {
            border-top: 1px solid $brownLighter;
        }
    }
    .filter-item:active, .filter-item.selected {
        background-color: $brownLighter;
    }
}

#view-getstarted {
    padding: 0;
    .viewport {
        overflow: hidden;
        width: 100%;
        height: 430px;
    }
    @include carousel($carouselWidth: 100%);
    .indicator {
        width: 70px;
    }
    .carousel-item {
        padding: 0;
    }
    .img {
    	border: 0;
    	background-position: center top;
		@include background-size(contain);
    }
}
