#view-member-login {
	.logo {
		height: 170px;
		img {
			position: relative;
			top: 50%;
			margin-top: -35px;
			@include square(80px);
		}
	}
	.login-box, .register-box {
		width: 70%;
	}
	.login-register-switch {
	    width: 70%;
	    margin-top: 15px;
	    margin-bottom: 30px;
	    button {
	        border-color: transparent;
	        text-align: left;
	        font-size: $baseFontSize;
	    }
	    button:active, button.pressed {
            color: $brown;
            background-color: $white;
        }
	}
	// .social-box {
		// @include size(105px, 100%);
		// & > header {
			// height: 28px;
			// line-height: 30px;
			// color: $brownDark;
			// text-align: center;
			// vertical-align: middle;
			// border-width: 1px 0;
			// border-style: solid;
			// border-color: $brownDark;
		// }
		// .social-icons {
			// padding: 15px 0;
			// text-align: center;
			// img {
				// @include square(45px);
			// }
		// }
	// }
}

#view-member-contacts {
    .alphabet {
        position: absolute;
        z-index: 1000;
        top: 60px;
        right: 4px;
        width: 28px;
        height: 364px;
        -webkit-border-radius:14px;
        text-align: center;
        font-size: 11px;
        color: #6a737d;
        li {
            font-size: 11px;
            line-height: 1;
            padding-top: 2px;
            font-weight: bold;
        }
        li:first-child {
            padding-top: 6px;
        }
        &.hover, &:active {
            background: rgba(106, 115, 125, 0.5);
        }
    }
}

#view-member-profile {
	.member-profile-form {
	    width: 90%;
	    padding: 0 5%;
	    margin: 20px 0 15px;
	}
	.member-password-form {
	    width: 90%;
	    padding: 0 5%;
	    margin-bottom: 20px;
	    @include border(2px 0 0 0, solid, $brown);
	}
	input[name=nickname] {
		text-align: center;
	}
	button {
		width: 100%;
		margin: 0 auto;
	}
}

#view-member-center {
	.scroll {
		background-image: url($backgroundBottomPath);
	}
	.favorite-resto-carousel {
		@include size(250px, 100%);
		margin-top: -70px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			@include size(200px, 100%);
			background: transparent url($blackShadowPath) no-repeat top;
			@include background-size(100% 400px);
		}
	}
	.member-profile-box {
		z-index: 1;
		position: relative;
		font-size: $fontSizeMini;
		width: 100%;
		margin-top: -45px;
		@include clearfix();
		& > div {
			float: left;
			&:first-child { width: 40%; }
			&:last-child { width: 60%; }
		}
		.avatar {
			@include square(90px);
			border: 2px solid $brown;
			margin: 0 auto;
			background-color: $white;
			overflow: hidden;
			img { @include square(100%); }
		}
		h1 {
			position: relative;
			padding-right: 30px;
			color: $white;
			margin: 13px 0 8px;
			font-size: $fontSizeLarge;
		}
		h1, p {
			@include text-overflow();
		}
		.edit-profile {
			position: absolute;
			right: 5px;
			bottom: 0;
		}
	}
	$listItemHeight: 45px;
	$listItemWidth: 100%; //93.75%;
	$buttonWidth: 70%; //62.5%;
	$listPadding: ($listItemWidth - $buttonWidth) / 2;
	.member-center-nav {
		width: $listItemWidth;
		li {
			width: 100%;
			height: $listItemHeight;
			font-size: $fontSizeSmall;
			line-height: $listItemHeight;
			text-align: center;
			position: relative;
			background: transparent url($gradientShadowPathR) no-repeat top;
			@include background-size(100% $listItemHeight);
		}
		li.pressed, li:active {
			background: rgba($brownLight, 0.3);
		}
		li::after {
			content: "";
			position: absolute;
			top: ($listItemHeight - 26px) / 2;
			right: $listPadding;
			font-weight: bold;
			@include icon-display();
			@include icon-offset(3, 4);
		}
	}
	.logout-button {
		background: transparent url($gradientShadowPathR) no-repeat top;
		@include background-size(100% $listItemHeight);
		width: $listItemWidth;
		padding: 10px $listPadding;
		button { width: 100%; }
	}
}

#view-member-favorites {
	.restaurant-list-item {
		padding-right: 45px;
		section { @include square(100%); }
		p { white-space: normal; }
	    > .delete-button {
	    	padding: 32px 2px;
			width: 30px;
			position: absolute;
			right: 0;
			top: 0;
	    }
	}
}

#view-member-credits {
    .redeem-btn {
        width: 100%;
        height: 50px;
        padding: 12px;
        text-align: center;
        background-color: $brown;
        color: $white;
        span { vertical-align: middle; }
    }
    .positive { color: #27AE60; }
    .negative { color: #E74C3C; }
}

#view-member-anniversaries {
	.anniversary-list-item {
		@include clearfix();
		@include border(0 0 1px 0, solid, $brownLighter);
		@include size(50px, 100%);
	}
	.date-icon, .date-desc {
        float: left;
        height: 100%;
    }
    .date-icon {
        padding: 12px;
        width: 80px;
        > span {
            display: inline-block;
            width: 30px;
            text-align: right;
            font-weight: bold;
            vertical-align: middle;
        }
    }
    .date-desc {
        padding: 15px;
    }
	.month {
		background-color: $brownLight;
		width: 100%;
		height: 30px;
		padding: 0 17px;
		line-height: 30px;
		color: $white;
	}
}

#view-member-anniversary-detail {
	.anniversary-detail-form {
		margin-top: 20px;
		width: 80%;
	}
	.inspritions {
	    padding: 20px 0;
	    @include clearfix();
	    text-align: center;
	}
	.span1, .span2, .span3 {
        //float: left;
        display: inline-block;
        margin: 0 3px;
        line-height: 35px;
    }
    .span3 {
        font-size: 20px;
        color: $brown;
    }
    .span2 {
        font-size: 17px;
    }
    .span1 {
        font-size: 14px;
        font-weight: bold;
    }
}

#view-settings {
    .scroll-inner > section {
        margin-top: 20px;
        width: 100%;
    }
    .settings-share {
        padding: 0 10px;
        button, .btn {
            font-size: $fontSizeSmall;
        }
    }
    .lang-opt {
        display: inline-block;
        height: 37px;
        line-height: 37px;
        margin: 3px 0;
        padding: 0 10px;
        &.selected {
            font-weight: bold;
            color: $white;
            background-color: $brown;
            border-radius: 3px;
        }
    }
}
