#view-request-driver {
    .map {
        width: 100%;
        height: 280px;
    }
    .order-form {
        width: 90%;
        margin: 20px 0;
    }
    .amap-copyright {
        display: none;
    }
    .switch-gender {
        @include flexible($flex: 2, $orient: horizontal);
    }
}
