#view-order-detail {
	.wrapper header {
		@include size(170px, 100%);
		img { @include size(140px, 100%); }
		h1 {
			text-align: center;
			margin-top: 10px;
		}
	}
	.restaurant-picture {
		@include size(250px, 100%);
		margin-top: -100px;
	}
	.restaurant-name {
        width: 100%;
        padding: 10px 17px;
        text-align: center;
        @include text-overflow();
	}
	.order-detail {
		width: 100%;
		padding: 10px 40px;
		margin-bottom: 10px;
		background: url($gradientShadowPathR) repeat-x top, url($gradientShadowPath) repeat-x bottom;
		@include background-size(100% 60px, 100% 60px);
	}
	.order-product {
		width: 100%;
		padding: 0 40px;
		p { margin: 5px 0; }
		.products {
			width: 100%;
			@include clearfix();
			.product-item {
				@include square(65px);
				float: left;
				border: 1px solid $brown;
				margin: 1.666667%;
				img { @include square(100%); @include center-block(); }
			}
		}
	}
    .btn-cancel {
    	width: 70%;
    	margin: 10px 0;
    }
}

#view-product-purchase, #view-product-redeem {
	.scroll-inner {
		padding: 15px 0;
	}
	.product-box {
		width: 100%;
		font-size: $fontSizeMini;
		line-height: 1.4;
		header {
            padding: 5px 20px;
            text-align: center;
        }
	}
	.stack {
	    @include clearfix();
	    padding: 5px 20px;
	}
	.stack-item {
	    position: relative;
	    float: left;
        background-color: $white;
        @include border-radius(10px);
        border: 1px solid $brownLighter;
        width: 47.5%;
        margin-bottom: 10px;
        &:nth-child(2n+1) {
            margin-right: 5%;
        }
        padding: 5px;
        .img {
            @include border-top-left-radius(5px);
            @include border-top-right-radius(5px);
            overflow: hidden;
            position: relative;
            .ar { padding-bottom: 100%; }
			background-position: center center;
        }
        .tag {
            margin-top: 5px;
            padding: 3px;
            border-top: 1px solid $brownLighter;
        }
	}
	.callus-button {
        .btn {
            text-indent: -5px;
            font-size: $fontSizeMini;
        }
        position: absolute;
        bottom: 10px;
        left: 10px;
        opacity: 0.7;
    }
}

#view-product-purchase .stack-item.selected::after {
	content: "";
	@include icon-display();
	@include icon-offset(5, 5);
	position: absolute;
	top: 0;
	right: 0;
}

#view-attending {
	.viewport {
		overflow: hidden;
		@include square(100%);
		@include background-size(100% auto, 100% auto);
	}
	
	@include carousel($carouselWidth: 250px);
	
	.order-page-item {
		position: relative;
	}
	.section-header-img {
        height: 150px;
        width: 100%;
        margin: 10px 0;
        overflow: hidden;
        @include border-top-left-radius(5px);
        @include border-top-right-radius(5px);
    }
    .order-detail {
        width: 85%;
        @include center-block();
        @include flex-box($orient: vertical, $pack: end);
        > .section-qrcode {
            display: none;
            @include square(110px);
            padding: 5px;
            background-color: $white;
        }
        > h1 {
            line-height: 1.5*$baseLineHeight;
            height:30px;
            width: 100%;
            text-align:center;
            background: transparent url($gradientShadowPathR) no-repeat top;
            @include background-size(100% 60px);
            @include text-overflow();
        }
        > table {
            margin-bottom: 10px;
        }
        > .button-group {
            width: 100%;
            button { font-size: $fontSizeMini; }
        }
    }
    .discount-text {
        width: 200px;
        @include text-overflow();
    }
	.hint-text {
		width: 80%;
		.btn { margin: 20px auto; }
	}
}
