
.flipper {
	-webkit-perspective: 1000;
	perspective: 1000;
	position: relative;
	> .front, > .back {
		@include backface-visibility(hidden);
		@include transition(all .7s ease-in-out);
	}
	> .back {
	    position: absolute;
        top: 0;
	}
	&.flip > .front {
		@include rotateY(-180deg);
		z-index: -1;
	}
	&:not(.flip) > .back {
        @include rotateY(180deg);
        z-index: -1;
    }
}

#view-restaurant-search {
	.filter-item {
	    @include text-overflow();
		line-height: 30px;
		padding: 0 17px;
		//@include border(0 0 1px 0, dotted, $brownLight);
		//border-bottom: 1px solid darken($brown, 5%);
		border-top: 1px solid lighten($brown, 5%);
		&:active, &.pressed { background-color: $brownDark; }
		&.subtitle {
		    font-weight: bold;
		    font-size: $baseFontSize;
		    background-color: darken($brown, 5%);
		}
	}
	.map_canvas, #map_canvas {
	    @include square(100%);
	}
	.map_canvas {
		margin-top: 50px;
		padding-bottom: 50px;
	}
	.locate-btn {
	    @include square(32px);
	    @include border-radius(50%);
	    border: 1px solid $brownLighter;
	    background-color: $white;
	    padding: 2px;
	    position: absolute;
	    z-index: 1;
	    top: 20px;
	    right: 5px;
	}
	.map-marker-info {
        @extend .restaurant-list-item;
        position: absolute;
        z-index: 2;
        bottom: 50px;
        background-color: $white;
        width: 100%;
        @include translate3d(0, 90px, 0);
        -webkit-transition: -webkit-transform .2s ease-in-out;
        &.expand {
            @include translate3d(0, 0, 0);
            -webkit-transition: -webkit-transform .2s ease-in-out;
        }
    }
	.amap-icon img {
		@include square(25px);
	}
	.amap-logo, .amap-copyright {
	    display: none;
	}
}

#view-restaurant-detail {
    //@include bottom-banner-shadow();
	.restaurant-pictures {
		position: relative;
		overflow: visible;
		@include size(250px, 100%);
		margin-top: -50px;
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			@include size(200px, 100%);
			background: transparent url($blackShadowPath) no-repeat top;
			@include background-size(100% 400px);
		}
	}
	.img-stack-icon {
        width: 32px;
        height: 32px;
        position: absolute;
        z-index: 1;
        top: 65px;
        right: 10px;
    }
	.restaurant-profile {
		width: 90%;
		font-size: $fontSizeMini;
		line-height: $fontSizeMini + 4px;
		position: relative;
		> article {
			padding: $baseLineHeight/2 0;
			width: 100%;
			color: $brown;
			overflow: hidden; 
            line-height: $baseLineHeight;
			background: transparent url($gradientShadowPath) repeat-x bottom;
			@include background-size(100% (3*$baseLineHeight));
		}
	}
	.rating {
        position: absolute;
        top: -50px;
        left: 0;
    }
    .price {
        position: absolute;
        top: -22px;
        left: 5px;
        color: $white;
    }
    .order-button {
        position: absolute;
        top: -65px;
        right: 0;
        @include size(75px, 100px);
        padding: 20px 0;
        line-height: 35px;
        text-indent: 50px;
        color: $white;
        font-size: 20px;
        background: transparent url($bookButtonPath) no-repeat center left;
        @include background-size(35px 35px);
    }
    .information  {
        color: $brownDark;
        padding: 5px 0;
        > div {
            min-height: 26px;
            padding: 7px 0 7px 26px;
            position: relative;
        }
        .icon {
            position: absolute;
            left: 0;
            top: 0;
        }
    }
	.restaurant-reviews {
	    font-size: $fontSizeMini;
        width: 90%;
        background: transparent url($gradientShadowPathR) no-repeat top;
        @include background-size(100% (3*$baseLineHeight));
        > header {
            height: 36px;
            padding-top: 8px;
            font-size: $fontSizeSmall;
            h1 {
                font-size: $fontSizeSmall;
                span { vertical-align: middle; }
            }
        }
        .review-list-item {
            background: transparent url($gradientShadowPathR) no-repeat top;
            @include background-size(100% (3*$baseLineHeight+20px));
            //border: 1px solid $brownLighter;
            padding: 10px 20px;
            margin: 5px 0;
            @include clearfix();
            .avatar {
                @include square(50px);
                float: right;
                margin: 0 0 10px 0;
                background: url("../img/rabbit-boy.png") no-repeat top;
                @include background-size(contain);
            }
            &:nth-child(2n) .avatar {
                float: left;
                margin: 0 10px 10px 0;
                background-image: url('../img/rabbit-girl.png');
            }
        }
    }
	.callus-button {
		width: 90%;
		padding: 20px 10%;
		> .btn {
			@include center-block();
			width: 100%;
			text-indent: -20px;
		}
		background: transparent url($gradientShadowPathR) repeat-x top;
		@include background-size(100% 60px);
	}
}

#view-restaurant-order {
    //@include bottom-banner-shadow();
	.restaurant-picture {
		@include size(250px, 100%);
		margin-top: -100px;
	}
	.restaurant-name {
        width: 100%;
        padding: 10px 17px;
        text-align: center;
        @include text-overflow();
	}
	fieldset {
		margin: 0;
		border-width: 1px 0 0 0;
		@include border-radius(0);
	}
	.inline-group {
		border-right: none;
	}
	select[name='ordertime'] {
		@include flexible($flex: 3, $orient: horizontal);
	}
	.order-info, .contact-info, .floorplan-select, .product-select {
		width: 100%;
		padding: 0 15%;
		background: transparent url($gradientShadowPathR) no-repeat top;
		@include background-size(100% (3*$baseLineHeight));
	}
	.section-title {
        margin: 0 -21.4285714%;
        height: 40px;
        text-align: center;
        font-size: $fontSizeSmall;
        position: relative;
        > h1 {
            font-size: $baseFontSize;
            line-height: 40px;
            text-align: center;
        }
        &.menu > h1.pressed, &.menu > h1:active {
            background: $brownLighter;
        }
        &.menu > h1::after {
            content: "";
            position: absolute;
            top: (40px - 26px) / 2;
            right: 15%;
            @include icon-display();
            @include icon-offset(3, 4);
        }
    }
	.seat-selected {
	    &::before { content: '('; }
	    &::after { content: ')'; }
	}
	.switch-gender {
		@include flexible($flex: 0, $orient: horizontal);
		width: 70px;
	}
	.product-select {
		background: transparent url($gradientShadowPathR) no-repeat top;
		@include background-size(100% (3*$baseLineHeight));
	}
    .product-cart-item {
        @include square(65px);
        float: left;
        border: 1px solid $brown;
        margin: 1.666667%;
        position: relative;
        > img { @include square(100%); @include center-block(); }
        > .delete-button {
            position: absolute;
            bottom: 0; right: 0;
            opacity: 0.7;
            padding: 3px;
            background-color: $brown;
            color: $white;
        }
    }
	.order-submit-button {
		background: transparent url($gradientShadowPathR) no-repeat top;
		@include background-size(100% (3*$baseLineHeight));
		padding: 15px 15%;
		width: 100%;
		> .btn { width: 100%; }
	}
}

#view-restaurant-floorplans {
	svg {
		[status="available"] { fill: transparent; }
		[status="selected"] { fill: #8B7D73; }
		[status="occupied"] { fill: #E6E6E6; }
	}
	.svg-canvas {
		@include flexible($orient: vertical);
		width: 100%;
		overflow: hidden;
	}
	.svg-canvas-inner {
        @include size(400px, 100%);
    }
	.floorplan-nav {
		width: 100%;
		text-align: center;
		margin: 10px 0;
	}
	.floorplan-nav-item {
        display: inline-block;
        padding: 5px 10px;
        margin: 5px;
        border: 1px solid $brown;
        @include border-radius(5px);
        &.selected {
            background-color: $brown;
            color: $white;
        } 
    }
}

#view-restaurant-pictures {
    .wrapper { background-color: rgba(0, 0, 0, 0.9); }
    .picture-item {
        @include flex-box();
    }
    @media (min-width: 300px) {
        .viewport { width: 280px; }
        @include carousel($carouselWidth: 280px);
    }
    @media (max-width: 299px) {
        .viewport { width: 240px; }
        @include carousel($carouselWidth: 240px);
    }
}
