<div class="section-header-img img"></div>
<div class="order-detail">
	<section class="section-qrcode"></section>
	<h1>{{ restaurantinfor.fullname }}</h1>
	<table>
		<tr><th data-i18n="Order Date">订餐日期</th><th data-i18n="Order Time">订餐时间</th></tr>
		<tr><td>{{ orderdate }}</td><td>{{ ordertime }}</td></tr>
		<tr><th data-i18n="Contact">联系人</th><th data-i18n="Mobile">手机号</th></tr>
        <tr><td>{{ contactname }}</td><td>{{ contactphone }}</td></tr>
		<tr><th colspan="2">
		    <span data-i18n="Discount">订餐折扣</span>
		    (<span data-i18n="Click for Detail">点击查看详情</span>)
		</th></tr>
	    {{#restaurantinfor.discount}}
			<tr><td colspan="2"><p class="discount-text">{{ restaurantinfor.discount }}</p></td></tr>
		{{/restaurantinfor.discount}}
		{{^restaurantinfor.discount}}
            <tr><td colspan="2" data-i18n="No Discount">No Discount</td></tr>
        {{/restaurantinfor.discount}}
	</table>
	<div class="button-group">
		<button class="btn btn-share-weixin" data-i18n="Share to Moments">告诉微信好友</button>
		<button class="btn btn-inverse btn-share-weibo" data-i18n="Share to Weibo">分享到微博</button>
	</div>
</div>
