<header>
	<h1 data-i18n="Confirm Order"></h1>
</header>
<div class="content">
	<p data-i18n="Find your order in the top-right corner on homepage. Please show your order to the waiting staff in order to get better service."></p>
	<img src="assets/img/checkin-tip.jpg" alt="">
	<p data-i18n="An SMS will be sent to you to inform you the order has been confirmed"></p>
</div>
<div class="action button-group">
	<button class="btn-cancel" data-i18n="Close">关闭</button>
	<button class="btn-confirm btn-inverse" data-i18n="Confirm">确认</button>
</div>
