
<div class="restaurant-picture img"></div>
<p class="restaurant-name"></p>

<section class="order-detail">
	<table>
		<tr><th colspan="2" data-i18n="Order No">订单号</th></tr>
		<tr><td colspan="2">{{ order_no }}</td></tr>
		<tr><th data-i18n="Order Date">订餐日期</th><th data-i18n="Order Time">订餐时间</th></tr>
		<tr><td>{{ orderdate }}</td><td>{{ ordertime }}</td></tr>
		<tr><th colspan="2" data-i18n="Peoples">就餐人数</th></tr>
		<tr><td colspan="2">{{ personnum }}</td></tr>
		<tr><th data-i18n="Contact">联系人</th><th data-i18n="Mobile">手机号</th></tr>
		<tr><td>{{ contactname }}</td><td>{{ contactphone }}</td></tr>
		{{ #restaurantinfor.discount }}
    		<tr><th colspan="2" data-i18n="Discount">折扣</th></tr>
            <tr><td colspan="2">{{{ restaurantinfor.discount }}}</td></tr>
        {{ /restaurantinfor.discount }}
	</table>
</section>

{{#product_items.length}}
<section class="order-product">
	<p data-i18n="Concierge Services">私人管家服务</p>
	<div class="products">
		{{ #product_items }}
		<div class="product-item">
			<img src="{{ picture }}" />
		</div>
		{{ /product_items }}
	</div>
</section>
{{/product_items.length}}

<button class="btn-inverse btn-cancel" data-i18n="Cancel Order">取消订单</button>
