<header>
	<h1 data-i18n="Confirm Order"></h1>
</header>
<div class="content">
	<p data-i18n="Thanks to 4001002003.com"></p>
	<img src="assets/img/daijia.jpg" alt="">
	<p data-i18n="An SMS will be sent to you to inform you the order has been confirmed"></p>
	<p data-i18n="Our driver will contact you as soon as possible"></p>
</div>
<div class="action button-group">
	<button class="btn-cancel" data-i18n="Close">关闭</button>
	<button class="btn-confirm btn-inverse" data-i18n="Book Another">继续下单</button>
</div>
