<header>
	<h1>{{ product.name }}</h1>
	<p>{{ product.description }}</p>
</header>
<section class="viewport">
	<div class="carousel" data-item="{{ product.id }}">
		<div class="carousel-inner">
			{{ #items }}
			<div class="carousel-item {{ #selected }}selected{{ /selected }}" data-item="{{ id }}">
				<div class="img" style="background-image: url(assets/img/bootstrap/product/{{ id }}.jpg)"></div>
				<div class="tag">
					<p>{{ name }}</p>
					{{ #credit }}<p>{{ credit }}积分</p>{{ /credit }}
					{{ ^credit }}<p>{{ description }}</p>{{ /credit }}
				</div>
			</div>
			{{ /items }}
		</div>
	</div>
</section>
<div class="indicator hidden">
	<div class="dotty"></div>
</div>
