<header>
	<h1>{{ product.name }}</h1>
	<p>{{ product.description }}</p>
</header>
<div class="stack" data-item="{{ product.id }}">
	{{ #items }}
	<div class="stack-item {{ #selected }}selected{{ /selected }}" data-item="{{ id }}">
		<div class="img" style="background-image: url(assets/img/bootstrap/product/{{ id }}.jpg)">
		    <div class="ar"></div>
			<!--<img src="{{ picture }}" alt="">-->
		</div>
		<div class="tag">
            <p>{{ name }}</p>
            {{ #credit }}<p>{{ credit }} <span data-i18n="Credits">积分</span></p>{{ /credit }}
            {{ ^credit }}<p>{{ description }}</p>{{ /credit }}
        </div>
	</div>
	{{ /items }}
</div>
<div class="indicator hidden">
	<div class="dotty"></div>
</div>
