//
// Inputs
// --------------------------------------------------

@mixin block-field-set {
	width: 100%;
	border-width: 0 0 1px 0;
	&:last-child {
	    border-bottom-width: 0;
	}
}

@mixin inline-field-set {
	width: 1px; // A hack for iOS 5. width=0 seems wrong.
	//border-width: 0 1px 0 0;
	border-width: 0;
	&:last-child {
		border-right-width: 0;
	}
}


fieldset {
	@include border-radius($baseBorderRadius);
	width: 100%;
	margin: 15px 0;
	overflow: hidden;
	border: 1px solid $brownLighter;
	.inline-group {
		overflow: hidden;
		border: 1px solid $brownLighter;
		@include block-field-set();
		@include flex-box($orient: horizontal);
	}
}

// Text fields
select,
textarea,
input[type="search"],
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"],
.uneditable-input,
.control-group {
	@include box-sizing(border-box);
	@include box-shadow(none);
	@include clear-outline();
	@include border-radius(0);
	border: 1px solid $brownLighter;
	
	display: block;
	color: $brown;
	font-family: $sansFontFamily;
	font-size: $fontSizeSmall;
	@include placeholder($brownLight, 14px, 14px);
	padding: 14px 11px;
	height: 44px;
	line-height: 14px;
	
	background-color: transparent;
	-webkit-appearance: none;
	
	fieldset > & {
		@include block-field-set();
	}
	
	fieldset .inline-group > & {
		@include flexible($orient: horizontal);
		@include inline-field-set();
	}
}

// Textarea
textarea {
	height: auto;
	font-size: $baseFontSize;
	line-height: $baseLineHeight;
	text-indent: 0;
}


form .info-text {
	//margin: 10px 0;
	color: #FF0000;
	font-size: $fontSizeMini;
	max-height: 2 * $baseLineHeight;
	overflow: hidden;
}

form label {
	font-size: $fontSizeSmall;
	color: $brown;
	vertical-align: middle;
}

//radio-button
.switch {
	@include flex-box($orient: horizontal);
	font-size: $fontSizeMini;
	padding: 0;
	> .switch-inner {
	    $switchInnerHeight: 30px;
		@include size($switchInnerHeight, $switchInnerHeight * 2 + 10px);
		@include border-radius(999px);
		position: relative;
		border: 1px solid $brownLight;
		> .label-on, > .label-off {
		    display: none;
		}
		> .label-text {
            position: absolute;
            top: 0;
            left: 0;
            padding: 0 10px;
            line-height: $switchInnerHeight - 2px;
            @include square(100%);
            text-align: right;
        }
        > .switch-button {
            @include square($switchInnerHeight - 2px);
            @include border-radius(999px);
            background-color: $white;
            box-shadow: 0 0 1px $brownDark;
            -webkit-transition: -webkit-transform .2s linear;
        }
	}
}

.switch.off {
    > .switch-inner {
        > .switch-button {
            @include translate3d(0, 0, 0);
        }
        > .label-text {
            text-align: right;
        }
    }
}
.switch.on {
	> .switch-inner {
		background-color: $brownLight;
		> .switch-button {
            @include translate3d(40px, 0, 0);
        }
        > .label-text {
            text-align: left;
            color: $white;
        }
	}
}
