
// Animations
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} { @content; }
       @-moz-keyframes #{$name} { @content; }
         @-o-keyframes #{$name} { @content; }
            @keyframes #{$name} { @content; }
}

@mixin keyframes-transform($name, $from, $to) {
    @-webkit-keyframes #{$name} { from { -webkit-transform: $from; transform: $from; } to { -webkit-transform: $to; transform: $to; } }
       @-moz-keyframes #{$name} { from {    -moz-transform: $from; transform: $from; } to {    -moz-transform: $to; transform: $to; } }
         @-o-keyframes #{$name} { from {      -o-transform: $from; transform: $from; } to {      -o-transform: $to; transform: $to; } }
            @keyframes #{$name} { from {                           transform: $from; } to {                         transform: $to; } }
}

@include keyframes-transform(slideouttoleft, translate3d(0, 0, 0), translate3d(-100%, 0, 0));
@include keyframes-transform(slideinfromright, translate3d(100%, 0, 0), translate3d(0, 0, 0));
@include keyframes-transform(slideinfromleft, translate3d(-100%, 0, 0), translate3d(0, 0, 0));

// jump
@-webkit-keyframes jump { from { -webkit-transform: scale(1); } 30% { -webkit-transform: scale(1.5); } to { -webkit-transform: scale(1); } }
   @-moz-keyframes jump { from {    -moz-transform: scale(1); } 30% {    -moz-transform: scale(1.5); } to {    -moz-transform: scale(1); } }
     @-o-keyframes jump { from {      -o-transform: scale(1); } 30% {      -o-transform: scale(1.5); } to {      -o-transform: scale(1); } }
        @keyframes jump { from {         transform: scale(1); } 30% {         transform: scale(1.5); } to {         transform: scale(1); } }

@include keyframes(loading-sprite) {
	0% { background-position: 0 0; }
	8.33% { background-position: 0 -20px; }
	16.67% { background-position: 0 -40px; }
	25% { background-position: 0 -60px; }
	33.33% { background-position: 0 -80px; }
	41.67% { background-position: 0 -100px; }
	50% { background-position: 0 -120px; }
	58.33% { background-position: 0 -140px; }
	66.67% { background-position: 0 -160px; }
	75% { background-position: 0 -180px; }
	83.33% { background-position: 0 -200px; }
	91.67% { background-position: 0 -220px; }
	100% { background-position: 0 0; }
}
