$view-max-width: 400px;
.view, .header-navbar, #apploader {
	max-width: $view-max-width;
}

html {
	height: 100%;
	&.iOS7 {
        padding-top: 20px;
	}
}

body {
	height: 100%;
	overflow: hidden;
	background-color: $bodyBackground;
	position: relative;
}

.view {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	padding: $navbarHeight 0 0 0;
	margin: 0;
	overflow: hidden;
	&.view-next, &.view-prev, &.view-hidden {
        pointer-events: none;
    }
}

.wrapper {
    @include flex-box($orient: vertical);
    @include size(100%, 100%);
    background-color: $bodyBackground;
    position: relative;
    &.rendering {
        opacity: 0;
    }
    @include backface-visibility(hidden);
    @include translate3d(0, 0, 0);
}

.view.view-hidden > .wrapper {
	visibility: hidden;
	@include translate3d(100%, 0, 0);
}

.view.view-next > .wrapper {
    visibility: visible;
    @include animation(slideinfromright $pageSwitchDuration linear);
    -webkit-animation-fill-mode: forwards;
}

.view.view-prev > .wrapper {
    visibility: visible;
    @include animation(slideouttoleft $pageSwitchDuration linear);
    -webkit-animation-fill-mode: forwards;
}


/*@mixin bottom-banner-shadow {
    .scroll-inner::after {
        content: "";
        position: absolute;
        bottom: -200px;
        left: 0;
        @include size(200px, 100%);
        background: transparent url($blackShadowPathR) no-repeat bottom;
        @include background-size(100% 300px);
    }
}*/

.scroll {
	@include flexible($orient: vertical);
	position: relative;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	background-repeat: no-repeat;
	background-position: bottom;
	@include background-size(contain);
	&.iscroll {
		overflow: hidden;
	}
	&::-webkit-scrollbar {
		display: none;
	}
	& > .scroll-hint {
	    position: absolute;
	    top: 15px;
	    z-index: -1;
	    text-align: center;
	    width: 100%;
	    color: $brown;
	    font-weight: bold;
	}
}

.scroll-inner {
    background-color: $bodyBackground;
    width: 100%;
    @include flex-box($orient: vertical, $pack: start);
    position: relative;
}

#apploader {
	/*position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999;*/
    @include transition(opacity .35s ease-in-out);
    .loader {
        @include flex-box($orient: vertical);
        position: absolute;
        z-index: 9999;
        top: 50%;
        left: 50%;
        width: 140px;
        margin: -30px -70px;
        min-height: 60px;
        padding: 10px;
        @include border-radius(5px);
        background-color: rgba(0, 0, 0, 0.8);
        pointer-events: none;
    }
    .ajax-error {
        font-size: $fontSizeMini;
        text-align: center;
        color: $white;
    }
    .loading-sprite {
        @include user-select(none);
        pointer-events: none;
        height: 20px;
        width: 20px;
        margin: 10px 0;
        font-size: 16px;
        color: #666;
        line-height: 20px;
        color: #666;
        text-shadow: 0 1px #fff;
        background: transparent url($activityIndicator) no-repeat center;
        background-size: 20px auto;
        @include animation(loading-sprite 1s step-start infinite);
    }
    &.invisible .loading-sprite {
        @include animation(none);
    }
}
