%thumbnail-list {
	width: 100%;
}

%thumbnail-list-item {
	@include border(0 0 1px 0, solid, $brownLighter);
	@include size(90px, 100%);
	padding: 6px 17px 6px 99px;
	overflow: hidden;
	position: relative;
	img, .thumbnail {
		position: absolute;
		top: 0;
		left: 0;
		@include square(89px);
	}
	h1, h2, h3, p {
		@include text-overflow();
	}
	font-size: $fontSizeMini;
}

.thumbnail-list { @extend %thumbnail-list; }
.thumbnail-list-item { @extend %thumbnail-list-item; }

.restaurant-list { @extend %thumbnail-list; }
.restaurant-list-item {
	@extend %thumbnail-list-item;
	.rating {
		position: absolute;
		right: 17px;
		bottom: 0;
	}
	p { height: 20px; }
}

.order-list { @extend %thumbnail-list; }
.order-list-item {
	@extend %thumbnail-list-item;
	@include text-overflow();
	@include flex-box($orient:horizontal);
	> .order-list-detail {
		@include flexible($orient: horizontal);
	}
}

.simple-list { width: 100%; }
.simple-list-item {
	$itemHeight: 45px;
	@include size($itemHeight, 100%);
	padding: 0 17px;
	@include border(0 0 1px 0, solid, $brownLighter);
	@include flex-box($orient: horizontal);
	overflow: hidden;
	&:first-child {
        border-top-width: 1px;
    }
	> .span {
		@include flexible($orient: horizontal);
		@include text-overflow();
		max-height: $itemHeight;
	}
}

.detail-list { width: 100%; }
.detail-list-item {
	$itemHeight: 50px;
	@include size($itemHeight, 100%);
	padding: 5px 17px;
	@include border(0 0 1px 0, solid, $brownLighter);
	@include flex-box($orient: horizontal, $align: baseline);
	overflow: hidden;
	font-size: $fontSizeMini;
	> .span {
		@include flexible($orient: horizontal);
		text-align: right;
	}
	> .span-detail {
		@include flexible($flex: 3, $orient: horizontal);
		text-align: left;
		p { @include text-overflow(); }
	}
}

.page-nav {
	width: 100%;
	padding: 10px;
}
