
.header-navbar {
	@include flex-box($orient: horizontal);
	@include size($navbarHeight, 100%);
	//padding: 0 $navbarPadding;
	position: absolute;
	top: 0;
	z-index: $zindexFixedNavbar;
	&::before {
		content: " ";
		background: transparent url($bannerImagePath) repeat-x;
		@include background-size(contain);
		@include size($bannerHeight, 100%);
		position: absolute;
		z-index: -1;
		//margin: 0 (-$navbarPadding);
	}
	@include transition(all $pageSwitchDuration ease-in-out);
}

.view.view-hidden > .header-navbar {
	opacity: 0;
	visibility: hidden;
}

.header-navbar {
    > h1 {
        padding: 0 5px;
        margin: 0;
        text-align: center;
        font-size: $fontSizeLarge;
        line-height: $navbarHeight;
        @include text-overflow();
        @include flexible($orient: horizontal);
    }
    > form {
    	@include flexible($orient: horizontal);
    	height: 44px;
    	padding: 5px 0;
    	> input[type=search] {
            @include border-radius(500px);
            width: 100%;
            border: 1px solid $brown;
            height: 34px;
            padding: 9px 15px;
            line-height: 14px;
            @include placeholder($brownLight, 14px, 16px);
        }
	}

}

.header-btn {
	height: 70px;
	padding-bottom: 70px - $navbarHeight;
    width: -webkit-max-content;
    min-width: 53px;
	@include flex-box($orient: horizontal);
	p {
	    text-align: center;
	    @include flexible($orient: horizontal);
	    @include text-overflow();
	    width: auto;
	    width: -webkit-max-content;
        margin: 0 10px;
	}
	&.pressed p, p.pressed {
	    color: $brownLight;
	}
}


.filter-bar {
	@include flex-box($orient: horizontal);
	@include size(50px, 100%);
	background-color: $brown;
	> .filter {
		@include flexible($orient: horizontal);
		height: 50px;
		line-height: 50px;
		text-align: center;
		font-size: $fontSizeSmall;
		color: $white;
		&:active, &.active, &.selected { background-color: $brownDark; }
	}
	.spliter {
		width: 0;
		height: 30px;
		border-right: 1px solid darken($brown, 5%);
		border-left: 1px solid lighten($brown, 5%);
		background-color: $brown;
		margin: 12px 0 8px;
	}
}

.collapsible {
    position: relative;
    > .collapsible-inner {
        @include scrollable();
        //overflow: hidden;
        position: absolute;
        z-index: $zindexPopover;
        top: 50px;
        height: 200px;
        visibility: hidden;
        background-color: $brown;
        color: $white;
        max-width: 200%;
        min-width: 150%;
    }
    &:last-child > .collapsible-inner {
        right: 0;
    }
    &.expand > .collapsible-inner {
        visibility: visible;
    }
    &:active, &.active, &.selected { background-color: transparent; }
}
