
* {
	@include box-sizing(border-box);
	@include clear-tap-highlight();
	//-webkit-touch-callout: none;
}

/* ==============
     Body Reset
   ============== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	@include user-select(none);
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
	@include user-select(none);
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ==========
     Links
   ========== */

a {
	color: $linkColor;
	text-decoration: none;
	-webkit-touch-callout: none;
	@include clear-tap-highlight();
}
a:hover,
a:focus {
	color: $linkColorHover;
	text-decoration: none;
}

/* ==========================================================================
	 HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}


/* ==========
     Images
   ========== */

// Rounded corners
img {
	/* Responsive images (ensure images don't scale beyond their parents) */
	max-width: 100%; /* Part 1: Set a maxium relative to the parent */
	width: auto\9; /* IE7-8 need help adjusting responsive images */
	height: auto; /* Part 2: Scale the height according to the width, otherwise you get stretching */

	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
}

// Prevent max-width from affecting Google Maps
#map_canvas img,
.google-maps img {
	max-width: none;
}

.img-rounded {
	@include border-radius(6px);
}

// Add polaroid-esque trim
.img-polaroid {
	padding: 4px;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.2);
	@include box-shadow(0 1px 3px rgba(0,0,0,.1));
}

// Perfect circle
.img-circle {
	@include border-radius(500px); // crank the border-radius so it works with most reasonably sized images
}

// As an alternative to img tag, using background-image
.img, .thumbnail {
    background-repeat: no-repeat;
    background-position: center bottom;
    @include background-size(cover);
}
