@mixin icon-display() {
	display: inline-block;
	width: 26px;
	height: 26px;
	line-height: 26px;
	background-image: url($iconSpritePath);
	background-size: 260px 260px;
	background-position: 26px 26px;
	background-repeat: no-repeat;
	
	vertical-align: middle;
	&::after, &::before {
		vertical-align: middle;
	}
}

.icon {
    @include icon-display();
}

@mixin icon-offset($x, $y) {
	background-position: $x * (-26px)  $y * (-26px);
}

.icon-blank              	{ @include icon-offset(8, 8); }

.icon-member              	{ @include icon-offset(0, 0); }
.icon-member.pressed,
.pressed .icon-member		{ @include icon-offset(1, 0); }

.icon-back					{ @include icon-offset(2, 0); }
.icon-back.pressed,
.pressed .icon-back			{ @include icon-offset(3, 0); }

.icon-cancel				{ @include icon-offset(4, 0); }
.icon-cancel.pressed,
.pressed .icon-cancel		{ @include icon-offset(5, 0); }

.icon-gift					{ @include icon-offset(6, 0); }
.icon-search                { @include icon-offset(7, 0); }

.icon-bars                  { @include icon-offset(8, 0); }
.icon-bars.pressed,
.pressed .icon-bars         { @include icon-offset(9, 0); }

.icon-confirm				{ @include icon-offset(0, 1); }
.icon-confirm.pressed,
.pressed .icon-confirm		{ @include icon-offset(1, 1); }

.icon-edit					{ @include icon-offset(2, 1); }
.icon-edit.pressed,
.pressed .icon-edit			{ @include icon-offset(3, 1); }

.icon-plus					{ @include icon-offset(4, 1); }
.icon-plus.pressed,
.pressed .icon-plus			{ @include icon-offset(5, 1); }

.icon-setting				{ @include icon-offset(6, 1); }
.icon-setting.pressed,
.pressed .icon-setting		{ @include icon-offset(7, 1); }

.icon-down-small             { @include icon-offset(8, 1); }
.icon-down-small.pressed,
.pressed .icon-down-small    { @include icon-offset(9, 1); }

.icon-locate				{ @include icon-offset(0, 2); }
.icon-locate.pressed,
.pressed .icon-locate		{ @include icon-offset(1, 2); }

.icon-favorite				{ @include icon-offset(2, 2); }
.icon-favorite.pressed,
.pressed .icon-favorite		{ @include icon-offset(3, 2); }
.icon-favorite.succeed      { @include icon-offset(7, 6); @include animation(jump .35s ease-in-out); }

.icon-map-marker			{ @include icon-offset(4, 2); }
.icon-map-marker.pressed,
.pressed .icon-map-marker	{ @include icon-offset(5, 2); }

.icon-share					{ @include icon-offset(6, 2); }
.icon-share.pressed,
.pressed .icon-share		{ @include icon-offset(7, 2); }

.icon-map-marker-small		{ @include icon-offset(0, 3); }
.icon-car					{ @include icon-offset(1, 3); }
.icon-tag					{ @include icon-offset(2, 3); }
.icon-chat					{ @include icon-offset(3, 3); }
.icon-calendar				{ @include icon-offset(4, 3); }
.icon-group					{ @include icon-offset(5, 3); }
.icon-member-small			{ @include icon-offset(6, 3); }
.icon-member-small-light	{ @include icon-offset(7, 3); }

.icon-down					{ @include icon-offset(0, 4); }
.icon-up					{ @include icon-offset(1, 4); }
.icon-down, .icon-up 		{ width: 9px; }

.icon-left					{ @include icon-offset(2, 4); }
.icon-right					{ @include icon-offset(3, 4); }
.icon-phone					{ @include icon-offset(4, 4); }
.icon-phone-light			{ @include icon-offset(5, 4); }
.icon-clock					{ @include icon-offset(6, 4); }
.icon-clock					{ @include icon-offset(7, 4); }

.icon-gift-light			{ @include icon-offset(0, 5); }
.icon-edit-light			{ @include icon-offset(1, 5); }
.icon-left-light			{ @include icon-offset(2, 5); }
.icon-right-light			{ @include icon-offset(3, 5); }
.icon-circle				{ @include icon-offset(4, 5); }
.icon-select				{ @include icon-offset(5, 5); }
.icon-envelope				{ @include icon-offset(6, 5); }
.icon-pencil				{ @include icon-offset(7, 5); }

.icon-calendar-large		{ @include icon-offset(6, 6); }

// Rating Component
@mixin icon-star-large-full		{ @include icon-offset(0, 6); width: 20px; }
@mixin icon-star-large-zero		{ @include icon-offset(1, 6); width: 20px; }
@mixin icon-star-large-half		{ @include icon-offset(2, 6); width: 20px; }
@mixin icon-star-small-full		{ @include icon-offset(3, 6); width: 20px; }
@mixin icon-star-small-zero		{ @include icon-offset(4, 6); width: 20px; }
@mixin icon-star-small-half		{ @include icon-offset(5, 6); width: 20px; }

@mixin rating($r) {
	> * {
	    @include icon-display();
	    @include icon-star-large-full();
	}
	> :nth-child(n + #{$r+1}) {
		@include icon-star-large-zero();
	}
}
.rating {
	width: 100px;
	height: 26px;
	&.r-1 { @include rating(1); }
	&.r-2 { @include rating(2); }
	&.r-3 { @include rating(3); }
	&.r-4 { @include rating(4); }
	&.r-5 { @include rating(5); }
}
